<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
</head>
<body>
    <h1>Add a new book</h1>
    <form method="POST">
        Name: <input type="text" name="name"><br>
        Author: <input type="text" name="author"><br>
        Year Published: <input type="number" name="year_published"><br>
        Type (1/2/3): <input type="number" name="book_type"><br>
        <input type="submit" value="Add Book">
    </form>
    <a href="/">Back to menu</a>
</body>
</html>
