<!DOCTYPE html>
<html lang="en">
<head>

    <div class="jumbotron">
        <h1 class="display-4">Welcome to the Library Management System</h1>
        <p class="lead">Use the navigation bar to manage books, customers, and loans.</p>

</head>
<body>
 

    <h1>Library Management System</h1>
    <ul>
        <li><a href="/add_customer">Add a new customer</a></li>
        <li><a href="/add_book">Add a new book</a></li>
        <li><a href="/loan_book">Loan a book</a></li>
        <li><a href="/return_book">Return a book</a></li>
        <li><a href="/view_books">Display all books</a></li>
        <li><a href="/view_customers">Display all customers</a></li>
        <li><a href="/view_loans">Display all loans</a></li>
        <li><a href="/view_late_loans">Display late loans</a></li>
        <li><a href="/find_book">Find book by name</a></li>
        <li><a href="/find_customer">Find customer by name</a></li>
        <li><a href="/remove_book">Remove book</a></li>
        <li><a href="/remove_customer">Remove customer</a></li>
    </ul>
</body>
</html>
